@import "partials";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;

  &--between {
    justify-content: space-between;
  }
}

.container {
  &-wrapper {
    color: $font-color;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.main-header {
  padding: 1vh 0;
  a {
    color: $font-color;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;

    &:hover {
      color: $font-color;
      text-decoration: none;
    }
  }

  &__contact {
    display: flex;
  }

  &__phone {
    padding-left: 20px;
    span {
      display: block;
    }
    &__call {
      font-size: 0.8rem;
    }
    &__number {
      font-size: 1.2rem;
    }
  }
}
.fa {
  &--custom-decor {
    color: $decor-color;
    font-size: 2.5rem;
    vertical-align: middle;
  }
  &--custom-transform {
    transform: rotate(90deg);
    font-size: 2rem;
  }
}

.main-section {
  background: url(../img/background.png) no-repeat top center / cover;
  height: 75vh;
}

.form {
  color: $font-color;
  padding-top: 15vh;
  color: $font-color;

  fieldset {
    background: $form-background-color;
    padding: 20px;
  }

  h2,
  h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 25px;
  }

  h2 {
    text-align: justify;
  }
  
  h3 {
    font-size: 1.4rem;
  }

  input,
  textarea {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    padding: 5px;
  }

  button {
    background: $decor-color;
    padding: 10px 25px;
    border: 0;
    transition: all 0.2s;
    font-size: 1.4rem;
    font-weight: bold;

    &:hover {
      background-color: $font-color;
    }
  }
}

.font-decor {
  color: $decor-color;
}

.footer {
  color: $font-color;
  background-color: $footer-background-color;
  padding: 5vh 0;
  text-align: center;

  &__a {
    color: $font-color;

    &__icon {
      background: $decor-color;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 25px;
      color: $footer-background-color;

      &--phone {
        transform: rotate(90deg);
      }
    }

    p {
      font-size: 1.1rem;
      margin-top: 7px;
    }
  }

  &__a:hover {
    color: $font-color;
    text-decoration: none;

    span {
      background: $footer-background-color;
    }

    i {
      color: $decor-color;
    }
  }

  &__description {
    margin: 10px;
    font-size: 0.8rem;
  }
}
