* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.flex {
  display: flex; }
  .flex--between {
    justify-content: space-between; }

.container-wrapper {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }

.main-header {
  padding: 1vh 0; }
  .main-header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center; }
    .main-header a:hover {
      color: #fff;
      text-decoration: none; }
  .main-header__contact {
    display: flex; }
  .main-header__phone {
    padding-left: 20px; }
    .main-header__phone span {
      display: block; }
    .main-header__phone__call {
      font-size: 0.8rem; }
    .main-header__phone__number {
      font-size: 1.2rem; }

.fa--custom-decor {
  color: #f4b939;
  font-size: 2.5rem;
  vertical-align: middle; }

.fa--custom-transform {
  transform: rotate(90deg);
  font-size: 2rem; }

.main-section {
  background: url(../img/background.png) no-repeat top center/cover;
  height: 75vh; }

.form {
  color: #fff;
  padding-top: 15vh;
  color: #fff; }
  .form fieldset {
    background: #001d8a;
    padding: 20px; }
  .form h2,
  .form h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 25px; }
  .form h2 {
    text-align: justify; }
  .form h3 {
    font-size: 1.4rem; }
  .form input,
  .form textarea {
    display: block;
    margin-bottom: 12px;
    width: 100%;
    padding: 5px; }
  .form button {
    background: #f4b939;
    padding: 10px 25px;
    border: 0;
    transition: all 0.2s;
    font-size: 1.4rem;
    font-weight: bold; }
    .form button:hover {
      background-color: #fff; }

.font-decor {
  color: #f4b939; }

.footer {
  color: #fff;
  background-color: #292929;
  padding: 5vh 0;
  text-align: center; }
  .footer__a {
    color: #fff; }
    .footer__a__icon {
      background: #f4b939;
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-size: 25px;
      color: #292929; }
      .footer__a__icon--phone {
        transform: rotate(90deg); }
    .footer__a p {
      font-size: 1.1rem;
      margin-top: 7px; }
  .footer__a:hover {
    color: #fff;
    text-decoration: none; }
    .footer__a:hover span {
      background: #292929; }
    .footer__a:hover i {
      color: #f4b939; }
  .footer__description {
    margin: 10px;
    font-size: 0.8rem; }
