@media screen and (min-width: 1171px) {
    header {
        background-color: black; /*W [przypadku niewyświetlenia obrazka, białe napisy będą czytelne*/
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;        
    }
    header div.text {
        margin-left: 5vh; 
    }
    header div.text p {
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        margin: 1vh;
    }
    header div.text p.best {
        font-size: 4vh;
    }
    header div.text p.developer {
        font-size: 6vh;
    }
}
@media screen and (min-width: 992px) and (max-width:1170px) {
    header {
        background-color: black;
        background-image: url(../img/man-2.jpg);
        background-size: cover;
        height: 70vh;
        display: flex;
        justify-content: flex-end;           
    }
    header div.text {
        margin-top: 20vh;
        margin-right: 2vh;
    }
    header div.text p {
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        margin: 1vh;
    }
    header div.text p.best {
        font-size: 2.5vh;;
    }
    header div.text p.developer {
        font-size: 4vh;
    }
}
@media screen and (max-width: 991px) {
    header {
        background-image: url(../img/man-1.jpg);
        background-size: cover;
        height: 50vh;
        display: flex;
        justify-content: center;
    }
    header div.text {
        margin-top: 51vh;
    }
    header div.text p {
        font-weight: bold;
        text-transform: uppercase;
        color: black;
        margin: 1vh;
        text-align: center;
    }
    header div.text p.best {
        font-size: 2vh;;
    }
    header div.text p.developer {
        font-size: 4vh;
    } 
}