* {
    font-family: verdana;
}
h1 {
    margin-left: 10px;
}
form {
    width: 600px;
    background-color: rgb(104, 104, 104);
    color: white;
}
label {
    margin-left: 10px;
    margin-top: 3px;
    display: block;
    width: 230px;
    font-weight: bold;
}
input {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 230px;
    height: 20px;
    background-color: rgb(192, 192, 192);
    border: 1px solid grey;
    outline: none;
}
select {
    margin-top: 3px;
    margin-bottom: 10px;
    width: 230px;
    height: 30px;
    background-color: rgb(192, 192, 192);
    border: 1px solid grey;
    outline: none;
}
.wybor {
    font-weight: normal;
    width: 500px;
}
[type='radio'] {
    width: 11px;
    height: 11px;
    margin-top: 10px;
}
[type='checkbox'] {
    width: 11px;
    height: 11px;
    margin-top: 10px;
}
textarea {
    margin-top: 3px;
    width: 230px;
    height: 200px;
    background-color: rgb(192, 192, 192);
    border: 1px solid grey;
    outline: none;
    }
[type="submit"] {
    margin-left: 10px;
    color: white;
    background-color: rgb(105, 226, 105);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    border: none;
    height: 30px;
    cursor: pointer;
}
[type="submit"]:hover {
    background-color: green;
    transition: 1s linear 500ms;
}