// 1. Fonts
// 2. Colors
// 3. Background Colors
// 4. Background Images
// 5. Background Gradient
// 6. Size Settings


//------------------------------------------------------------------------------
// 1. FONTS
//------------------------------------------------------------------------------

$main-fnt: "Poppins", sans-serif;
$title-fnt: "Montserrat", sans-serif;
$deco-fnt: "Dawning of a New Day", cursive;


//------------------------------------------------------------------------------
// 2. COLORS
//------------------------------------------------------------------------------

$main-clr-fnt: rgb(142, 142, 142);
$title-clr-fnt: rgba(255, 255, 255, .7);
$deco-clr-fnt: rgb(107, 235, 235);
$bg-clr-tit: rgba(252, 252, 252, 0.4);
$menu-clr-fnt: rgb(255, 255, 255);
$on-white-bg: rgb(73, 73, 73);


//------------------------------------------------------------------------------
// 3. BACKGROUND COLORS
//------------------------------------------------------------------------------

$hero-bg: rgb(70, 88, 194);
// $portfolio-bg: rgb(21, 139, 175);
$portfolio-bg: white;
$form-bg: rgb(96, 175, 21);
$menu-bg: rgb(39, 39, 39);
$tech-bg: rgb(175, 21, 129);


//------------------------------------------------------------------------------
// 4. BACKGROUND IMAGES
//------------------------------------------------------------------------------

$hero-img: url(../img/header.jpg);


//------------------------------------------------------------------------------
//5. BACKGROUND GRADIENT
//------------------------------------------------------------------------------

$hero-gt: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
// $hero-gt: linear-gradient(328deg, rgba(131,58,180,0.7) 0%, rgba(253,29,29,0.4) 50%, rgba(252,176,69,1) 100%);
$h-subpage: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));


//------------------------------------------------------------------------------
// 6. SIZE SETTINGS
//------------------------------------------------------------------------------

$menu-dsp-wth: 80%;
$read-txt: 200;
$menu-side-pdd: 5vw;