// 1.   Imports
// 2.   Reset
// 3.   General Settings
// 4.   Menu
// 4.1  Hamburger
// 4.2  Panel
// 5.   Section Hero
// 5.1  Backgrounds
// 5.2  Logo
// 5.3  Title
// 5.4  Icons
// 6.   Section Portfolio
// 7.   Section Technologies
// 8.   Section Form

//------------------------------------------------------------------------------
// 1. IMPORTS
//------------------------------------------------------------------------------

@import "variables";
@import "mixins";

//------------------------------------------------------------------------------
// 2. RESET
//------------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-fnt;
  text-decoration: none;
}

//------------------------------------------------------------------------------
// 3. GENERAL SETTINGS
//------------------------------------------------------------------------------

div#smooth {
  position: relative;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: center;
}

//------------------------------------------------------------------------------
// 4. MENU
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// 4.1 HAMBURGER
//------------------------------------------------------------------------------
div#menu-head {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  height: 15vh;
  width: 25vw;
  @include hero-side-pdd;
  @include flex-end;

  div#open-menu {
    height: 45px;
    width: 75px;
    // border: 1px solid $bg-clr-tit;
    @include flex-center;
    flex-direction: column;
    cursor: pointer;

    span.hamburger-line {
      height: 2px;
      width: 50px;
      background-color: $title-clr-fnt;
      display: block;
      margin: 3px 0;
    }
  }

  div#open-menu:hover {
    span.top {
      animation: menu-1 0.5s 1;
    }
    span.middle {
      animation: menu-2 0.5s 1;
    }
    span.bottom {
      animation: menu-1 0.5s 1;
    }
    @include menu-animation-1;
    @include menu-animation-2;
  }
}

//------------------------------------------------------------------------------
// 4.2 MENU PANEL
//------------------------------------------------------------------------------

nav.hiddenmenu {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: $menu-bg;
  z-index: 100;
  color: $main-clr-fnt;

  #menu-header {
    @include header;
    @include hero-side-pdd;
    @include flex-end;

    span {
      color: $menu-clr-fnt;
      font-size: 1.5em;
    }
    span:hover {
      @include list-hover;
      cursor: pointer;
    }
  }

  #menu-links {
    height: 70vh;
    display: flex;
    @include hero-side-pdd;
    @include list-animation;

    div#aboutme {
      flex-basis: 35%;
      opacity: 0;
      animation: load-list 0.6s forwards;

      h4 {
        color: $menu-clr-fnt;
        font-size: 4em;
      }

      p#aboutme-description {
        margin-bottom: 5vh;
        font-weight: 200;
        width: $menu-dsp-wth;
      }
    }
  }

  ul {
    flex-basis: 65%;
    list-style-type: none;

    li {
      padding: 0 50px;
      opacity: 0;

      h5,
      h6 {
        color: $menu-clr-fnt;
        font-size: 2em;
        font-weight: 700;
      }

      h5:hover {
        @include list-hover;
      }

      p {
        font-weight: $read-txt;
        margin-bottom: 5vh;

        a {
          color: $main-clr-fnt;
          text-decoration: none;
        }
        a:hover {
          color: $menu-clr-fnt;
        }
      }
    }

    li:nth-of-type(1) {
      animation: load-list 0.6s forwards 0.8s;
    }
    li:nth-of-type(2) {
      animation: load-list 0.6s forwards 1s;
    }
    li:nth-of-type(3) {
      animation: load-list 0.6s forwards 1.2s;
    }
    li:nth-of-type(4) {
      animation: load-list 0.6s forwards 1.4s;
    }
    li:nth-of-type(5) {
      animation: load-list 0.6s forwards 1.6s;
    }
  }
}

nav.show-menu {
  display: block;
}

//------------------------------------------------------------------------------
// 5. SECTION HERO
//------------------------------------------------------------------------------
//------------------------------------------------------------------------------
// 5.1 BACKGROUNDS
//------------------------------------------------------------------------------

section#hero {
  color: $title-clr-fnt;
  background: $hero-img no-repeat center center / cover;

  div#hero_particles {
    z-index: 1;
    @include hero-settings;
  }

  div#hero_content {
    z-index: 2;
    @include hero-settings;

//------------------------------------------------------------------------------
// 5.2 HEADER & LOGO
//------------------------------------------------------------------------------

    header#hero_header {
      @include header;
      @include hero-side-pdd;
      @include flex-space;

      #logo {
        width: 20%;
        font-size: 3vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: default;

        i {
          margin-right: 5px;
          font-size: 4vh;
        }
      }

      .hidden {
        opacity: 0;
        transition: max-width 0.2s linear;
        max-width: 0;
      }

      #logo:hover .hidden {
        opacity: 1;
        max-width: 1em;
        transition: max-width 0.5s linear;
      }

      #logo:hover .hideme {
        opacity: 0;
        max-width: 0;
      }
    }

//------------------------------------------------------------------------------
// 5.3 HERO TITLE
//------------------------------------------------------------------------------

    div#hero_content_title {
      height: 70vh;
      font-family: $title-fnt;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #front {
        user-select: none;
        background-color: $bg-clr-tit;
        overflow: hidden;
        font-weight: 900;
        font-size: 12vh;
        line-height: 13vh;
        transform: skewX(-5deg);
        color: transparent;

        span {
          background: $hero-img -20px -20px repeat;
          background: $hero-gt;
          -webkit-background-clip: text;
        }
      }

      #dev {
        font-weight: 400;
        font-size: 3vh;
        text-align: right;
      }
    }
  }

//------------------------------------------------------------------------------
// 5.4 BOTTOM ICONS
//------------------------------------------------------------------------------

  footer#tech_icons {
    height: 15vh;
    @include hero-side-pdd;
    @include flex-space;

    i {
      color: $bg-clr-tit;
      font-size: 4vh;
    }
  }
}

//------------------------------------------------------------------------------
// BACKGROUND GRADIENT
//------------------------------------------------------------------------------

#hero:after {
  z-index: 0;
  content: "";
  @include hero-settings;
  background: $hero-gt;
}

//------------------------------------------------------------------------------
// 6. SECTION PORTFOLIO
//------------------------------------------------------------------------------

#portfolio {
  background: $portfolio-bg;
}

//------------------------------------------------------------------------------
// 7. SECTION TECHNOLOGIES
//------------------------------------------------------------------------------

#technologies {
  background: $tech-bg;
}

//------------------------------------------------------------------------------
// 8. SECTION CONTACT
//------------------------------------------------------------------------------

#contact {
  background: $form-bg;
}
