* {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
div.flex {
    display: flex;
}
header.header {
    background-color: rgb(255, 70, 70);
}
article.left {
    background-color: rgb(61, 138, 61);
}
article.text {
    background-color: rgb(109, 167, 255);
}
article.right {
    background-color: rgb(255, 177, 236);
}
footer.footer {
    background-color: rgb(206, 54, 206);
}