* {
    box-sizing: border-box;
    font-family: 'Open Sans'
}
h1 {
    color: rgb(56, 54, 54);
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
}
hr {
    background-color: rgb(78, 196, 78);
    border: 0;
    height: 2px;
    width: 20vh;
}
a.button {
    border: 1px solid rgb(78, 196, 78);
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    color: grey;
    padding: 10px 20px;
    display: inline-block;
    transition: all 0.1s;
    background-color: transparent;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(78, 196, 78);
    color: white;
}
header.first {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header.first div.main-header p {
    color: grey;
    font-size: 1.5em;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
header.first div.main-header p span {
    color: rgb(78, 196, 78);
    margin: 1vh;
}
nav.menu {
    background-color: rgb(78, 196, 78);
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav.menu label, input {
	display: none;
}
nav.menu ul.nav li.menu-item {
    display: inline-block;
}
nav.menu ul.nav li.menu-item a {
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    margin: 15px;
    padding: 20px;
    display: inline-block;
}
nav.menu ul.nav li.menu-item a:hover {
	background-color: #fff;
	color: rgb(78, 196, 78);
}
section {
    padding: 120px 0;
}