* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

section {
  height: 100vh; }

section#hero {
  background: url(../img/header.jpg) no-repeat center center/cover; }
  section#hero div#hero_particles {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%; }
  section#hero div#hero_content {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.9); }
    section#hero div#hero_content header {
      height: 10vh; }
    section#hero div#hero_content div#hero_content_title {
      height: 80vh;
      font-family: "Montserrat", sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      section#hero div#hero_content div#hero_content_title #front {
        background-color: rgba(252, 252, 252, 0.4);
        overflow: hidden;
        font-weight: 900;
        font-size: 12vh;
        line-height: 13vh;
        transform: skewX(-5deg);
        color: transparent; }
        section#hero div#hero_content div#hero_content_title #front span {
          background: url(../img/header.jpg) -20px -20px repeat;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
          -webkit-background-clip: text; }
      section#hero div#hero_content div#hero_content_title #dev {
        font-weight: 400;
        font-size: 3vh;
        text-align: right;
        color: rgba(252, 252, 252, 0.4); }
  section#hero footer#tech_icons {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    section#hero footer#tech_icons i {
      color: rgba(252, 252, 252, 0.4);
      font-size: 3vh; }

#hero:after {
  z-index: 0;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)); }

#portfolio {
  background: #868686; }

#form {
  background: #9efe86; }
